name: Release

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
    branches:
      - "main"
    tags:
      - "**"
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: install build requirements
        run: |
          corepack enable
          pip install --upgrade pip
          pip install build pytest
          pip freeze

      - name: build release
        run: |
          python -m build --sdist --wheel .
          ls -l dist

      - name: verify sdist
        run: |
          pytest ./ci/check_sdist.py

      - name: verify data-files are installed where they are found
        run: |
          pip install dist/*.whl
          pytest ./ci/check_installed_data.py

      # ref: https://github.com/actions/upload-artifact#readme
      - uses: actions/upload-artifact@v5
        with:
          name: jupyter-keepalive-${{ github.sha }}
          path: "dist/*"
          if-no-files-found: error

      - name: Publish to PyPI
        if: startsWith(github.ref, 'refs/tags/')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pip install twine
          twine upload --skip-existing dist/*
