name: Release

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
  push:
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "**.rst"
      - ".github/workflows/*"
      - "!.github/workflows/release.yaml"
    branches:
      - "main"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags:
      - "**"
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: install build requirements
        run: |
          pip install --upgrade pip
          pip install build pytest
          pip list

      - name: build release
        run: |
          python -m build --sdist --wheel .
          ls -l dist

      - name: verify sdist
        run: |
          pytest ./ci/check_sdist.py

      - name: verify data-files are installed where they are found
        run: |
          pip install dist/*.whl
          pytest ./ci/check_installed_data.py
      - name: upload dists
        uses: actions/upload-artifact@v5
        with:
          name: ${{ github.repository.name }}-dist
          path: dist/
          if-no-files: error

  pypi-publish:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    environment:
      name: release
    needs:
      - build-release
    permissions:
      id-token: write

    steps:
      - name: Get release artifacts
        uses: actions/download-artifact@v5
        with:
          name: ${{ github.repository.name }}-dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
